* {
    box-sizing: border-box;
    margin: 0;
}

html {
    color: lightgray;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: mediumseagreen;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 20px;
}

h3 {
    margin-bottom: 20px;
}

input {
    min-width: 20%;
    max-width: 75%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: beige;
}

.question-container {
    padding-bottom: 20px;
}

.ans-container > * {
    padding: 10px;
}

.ans-container h2 {
    text-transform: capitalize;
    color: gold;
}

.ans-container img {
    max-width: 90%;
}

.user-msg {
    margin: 20px;
    background-color: brown;
    font-size: x-large;
}
